*
!static

!Cargo.toml
!Cargo.lock

!crates/vym-fyi-server-redirect/src
!crates/vym-fyi-server-redirect/Cargo.toml
!crates/vym-fyi-server-redirect/Rocket.toml

!crates/vym-fyi-model/src
!crates/vym-fyi-model/Cargo.toml

!crates/vym-fyi-node/src
!crates/vym-fyi-node/build.rs
!crates/vym-fyi-node/Cargo.toml

!crates/vym-fyi-healthcheck/src
!crates/vym-fyi-healthcheck/Cargo.toml

!crates/vym-fyi-client/src
!crates/vym-fyi-client/Cargo.toml

!crates/vym-fyi-server-crud/migrations
!crates/vym-fyi-server-crud/src
!crates/vym-fyi-server-crud/Cargo.toml
!crates/vym-fyi-server-crud/Rocket.toml
