@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.75rem;
}

body {
  @apply min-h-screen bg-base-100 text-base-content;
}

main {
  @apply min-h-screen;
}
